#gjs {
  border: rem(3) solid rgb(28, 27, 59);
  background-color: rgb(28, 27, 59);
}

#gjs-editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(28, 27, 59); /* Couleur de fond du conteneur de l'éditeur */
} 

.gjs-one-bg {
  background-color: rgb(28, 27, 59); /* Couleur de fond de l'éditeur */
}

/* custom-style.css */
.gjs-pn-panels {
  background-color: #da1c1c !important; /* Assurez-vous d'utiliser !important pour surcharger */
}

.gjs-pn-buttons .gjs-pn-btn {
  background-color: #555 !important;
  color: #fff !important;
}

.gjs-block-category .gjs-block-category-title {
  background-color: #222 !important;
  color: #fff !important;
}

.gjs-block {
  background-color: #4A4A4A !important;
  border-color: #616161 !important;
  color: #fff !important;
}

/* Et ainsi de suite pour les autres éléments... */

