.Button {
    padding: rem(12) rem(24);
    font-size: var(--main-size);
    font-family: var(--website-font-family);
    font-weight: 400;
    line-height: var(--line-height);
    @include flexbox(unset, nowrap, center, center, rem(8));
    border: rem(1) solid var(--reverse-bg-color);
    text-decoration: none;
    border-radius: var(--main-radius);
    cursor: pointer;

    &.Primary {
        background: var(--reverse-bg-color);
        color: var(--website-bg-color);

        &:hover {
            background-color: var(--website-bg-color);
            color: var(--reverse-bg-color);
            transition: 0.3s ease-in-out;
        }
    }

    &.Secondary {
        color: var(--reverse-bg-color);

        &:hover {
            color: var(--website-bg-color);
            background-color: var(--reverse-bg-color);
            transition: 0.3s ease-in-out;
        }
    }
}

.Button-sm {
    padding: rem(2) rem(4);
    border: rem(1) solid var(--reverse-bg-color);
    text-decoration: none;
    border-radius: var(--main-radius);
    cursor: pointer;
    border: none;

    &.update {
        background: var(--reverse-bg-color);
        background-color: var(--update-button);
        color: white;

        &:hover {
            background-color: var(--update-button-hover);
            transition: 0.3s ease-in-out;
        }
    }

    &.delete {
        background: var(--reverse-bg-color);
        background-color: var(--delete);
        color: white;

        &:hover {
            background-color: var(--delete-hover);
            transition: 0.3s ease-in-out;
        }
    }
}